.presente {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tampa {
  width: 100px;
  height: 25px;
  background-color: #FF69B4;
}

.corpo {
  width: 90px;
  height: 60px;
  background-color: #C71585;
}

.laco1 {
  position: absolute;
  width: 15px;
  height: 85px;
  background-color: #4B0082;
}

.laco2 {
  position: absolute;
  top: 40px;
  width: 90px;
  height: 15px;
  background-color: #4B0082;
}